#include "/home/owen/.Xresources_molokai"
!#include "/home/owen/.Xresources_jwr"
!#include "/home/owen/.Xresources_zenburn"
!#include "/home/owen/.solarized"
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

xterm*font: fixed
xterm*boldFont: fixed
